{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tester{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <span>epd_busy: {{epd_busy}}</span><br>
  <span>image_queue: {{wallpaper_queue}}</span>
</div>

<div>
  <!-- UPLOAD FILE -->
  <div style="padding-top: 10px">
    <label>Upload File</label>
    <div class="section_outline">
      <div style="padding: 10px 0px 0px 20px">
        <form method="post" enctype="multipart/form-data" action="/wallpaper/upload">
          <input type=file name=file multiple>
          <input type=submit value=Upload>
        </form>
      </div>
    </div>
  </div>
  
  <!-- ACTIONS -->
  <div style="padding-top: 10px">
    <label>Actions</label>
    <div class="section_outline">
      <div style="padding: 10px 0px 0px 20px">
        <form method="post" action="/clock/draw_grids">
          <span>Draw grids? 
            <input name="draw_grids" type="checkbox" value="true" {% if draw_grids == 1 %} checked=true {% endif %} onChange="this.form.submit()">
          </span>
        </form>
        <form method="get" action="/clock/refresh">
          <input type="submit" value="Refresh">
        </form>
        <form method="get" action="/clock/clear">
          <input type="submit" value="Clear">
        </form>
        <form method="get" action="/queue/shuffle">
          <input type="submit" value="Shuffle">
        </form>
        <form method="get" action="/queue/next">
          <input type="submit" value="Next">
        </form>
        <form method="post" action="/queue/select">
          <div>
            <span>Select ID:
              <select name="id">
                {% for image_id in wallpaper_queue %}
                <option value={{image_id}}>{{image_id}}</option>
                {% endfor %}
              </select>
              <input type="submit" value="Select">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- SLEEP SCHEDULES -->
  <div style="padding-top: 10px">
    <label>Sleep Schedules</label>
    <div class="section_outline">
      <div class="container">
        <span>Active Sleep Schedule: </span><br>
        <a href="/sleep">Edit sleep schedule</a>
      </div>
    </div>
  </div>
  
  <!-- IMAGES -->
  <div style="padding-top: 10px">
    <label>Images</label>
    <div class="section_outline">
      <div style="padding: 10px 0px 0px 20px">
        {% for img in wallpapers %}
        <form method="post" action="/wallpaper/update/{{img.id}}">
          <div>
              <span>ID: {{img.id}} - {{img.name}} | </span>
              <span>M: 
                <select name="mode" onChange="this.form.submit()">
                  <option value={{mode.off}} {% if img.mode == mode.off %} selected="selected" {% endif %}>Off</option>
                  <option value={{mode.sect_9_top_left}} {% if img.mode == mode.sect_9_top_left %} selected="selected" {% endif %}>9 Section Top Left</option>
                  <option value={{mode.sect_9_top_center}} {% if img.mode == mode.sect_9_top_center %} selected="selected" {% endif %}>9 Section Top Center</option>
                  <option value={{mode.sect_9_top_right}} {% if img.mode == mode.sect_9_top_right %} selected="selected" {% endif %}>9 Section Top Right</option>
                  <option value={{mode.sect_9_middle_left}} {% if img.mode == mode.sect_9_middle_left %} selected="selected" {% endif %}>9 Section Middle Left</option>
                  <option value={{mode.sect_9_middle_center}} {% if img.mode == mode.sect_9_middle_center %} selected="selected" {% endif %}>9 Section Middle Center</option>
                  <option value={{mode.sect_9_middle_right}} {% if img.mode == mode.sect_9_middle_right %} selected="selected" {% endif %}>9 Section Middle Right</option>
                  <option value={{mode.sect_9_bottom_left}} {% if img.mode == mode.sect_9_bottom_left %} selected="selected" {% endif %}>9 Section Bottom Left</option>
                  <option value={{mode.sect_9_bottom_center}}{% if img.mode == mode.sect_9_bottom_center %} selected="selected" {% endif %}>9 Section Bottom Center</option>
                  <option value={{mode.sect_9_bottom_right}} {% if img.mode == mode.sect_9_bottom_right %} selected="selected" {% endif %}>9 Section Bottom Right</option>
                  <option value={{mode.sect_6_top_left}} {% if img.mode == mode.sect_6_top_left %} selected="selected" {% endif %}>6 Section Top Left</option>
                  <option value={{mode.sect_6_top_right}} {% if img.mode == mode.sect_6_top_right %} selected="selected" {% endif %}>6 Section Top Right</option>
                  <option value={{mode.sect_6_middle_left}} {% if img.mode == mode.sect_6_middle_left %} selected="selected" {% endif %}>6 Section Middle Left</option>
                  <option value={{mode.sect_6_middle_right}} {% if img.mode == mode.sect_6_middle_right %} selected="selected" {% endif %}>6 Section Middle Right</option>
                  <option value={{mode.sect_6_bottom_left}} {% if img.mode == mode.sect_6_bottom_left %} selected="selected" {% endif %}>6 Section Bottom Left</option>
                  <option value={{mode.sect_6_bottom_right}} {% if img.mode == mode.sect_6_bottom_right %} selected="selected" {% endif %}>6 Section Bottom Right</option>
                  <option value={{mode.sect_4_top_left}} {% if img.mode == mode.sect_4_top_left %} selected="selected" {% endif %}>4 Section Top Left</option>
                  <option value={{mode.sect_4_top_right}} {% if img.mode == mode.sect_4_top_right %} selected="selected" {% endif %}>4 Section Top Right</option>
                  <option value={{mode.sect_4_bottom_left}} {% if img.mode == mode.sect_4_bottom_left %} selected="selected" {% endif %}>4 Section Bottom Left</option>
                  <option value={{mode.sect_4_bottom_right}} {% if img.mode == mode.sect_4_bottom_right %} selected="selected" {% endif %}>4 Section Bottom Right</option>
                  <option value={{mode.full_1}} {% if img.mode == mode.full_1 %} selected="selected" {% endif %}>Full Screen 1</option>
                  <option value={{mode.full_2}} {% if img.mode == mode.full_2 %} selected="selected" {% endif %}>Full Screen 2</option>
                  <option value={{mode.full_3}} {% if img.mode == mode.full_3 %} selected="selected" {% endif %}>Full Screen 3</option>
                </select>
              </span>
              <span>C: 
                <select name="color" onChange="this.form.submit()">
                  <option value={{text_color.none}} {% if img.color == text_color.none %} selected="selected" {% endif %}>None</option>
                  <option value={{text_color.black}} {% if img.color == text_color.black %} selected="selected" {% endif %}>Black</option>
                  <option value={{text_color.white}} {% if img.color == text_color.white %} selected="selected" {% endif %}>White</option>
                  <option value={{text_color.yellow}} {% if img.color == text_color.yellow %} selected="selected" {% endif %}>Yellow</option>
                  <option value={{text_color.red}} {% if img.color == text_color.red %} selected="selected" {% endif %}>Red</option>
                  <option value={{text_color.blue}} {% if img.color == text_color.blue %} selected="selected" {% endif %}>Blue</option>
                  <option value={{text_color.green}} {% if img.color == text_color.green %} selected="selected" {% endif %}>Green</option>
                </select>
              </span>
              <span>S: 
                <select name="shadow" onChange="this.form.submit()">
                  <option value={{text_color.none}} {% if img.shadow == text_color.none %} selected="selected" {% endif %}>None</option>
                  <option value={{text_color.black}} {% if img.shadow == text_color.black %} selected="selected" {% endif %}>Black</option>
                  <option value={{text_color.white}} {% if img.shadow == text_color.white %} selected="selected" {% endif %}>White</option>
                  <option value={{text_color.yellow}} {% if img.shadow == text_color.yellow %} selected="selected" {% endif %}>Yellow</option>
                  <option value={{text_color.red}} {% if img.shadow == text_color.red %} selected="selected" {% endif %}>Red</option>
                  <option value={{text_color.blue}} {% if img.shadow == text_color.blue %} selected="selected" {% endif %}>Blue</option>
                  <option value={{text_color.green}} {% if img.shadow == text_color.green %} selected="selected" {% endif %}>Green</option>
                </select>
              </span>
              {% if img.id == current_image_id %}
              <input name="select" type="submit" value="Select" disabled>
              <span style="padding-left: 10px">&#9989;</span>
              {% else %}
              <input name="select" type="submit" value="Select">
              {% endif %}
              <input name="delete" type="submit" value="Delete">
          </div>
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
