.section_outline {
  width: 800px;
  border: 4px solid black;
}

#container {
  height: 100%;
  width: 100%;
  font-size: 0;
  padding: 10px 0px 0px 20px;
}

#con1,
#con2,
#con3,
#con4,
#con5,
#con6,
#con7 {
  display: inline-block;
  vertical-align: top;
  width: 13.8%;
  text-align: center;
}

#con1,
#con3,
#con5,
#con7 {
  background: blue;
}

#con2,
#con4,
#con6 {
  background: green;
}
